{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center ">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque aliquid quae ratione itaque earum delectus, atque quisquam autem praesentium libero quaerat perferendis nulla deserunt doloremque ipsum harum saepe magni iusto cumque est similique laudantium dignissimos temporibus. Commodi voluptatum corporis reprehenderit, quaerat iure deleniti blanditiis debitis optio modi explicabo in itaque voluptatem ratione facere asperiores, est incidunt quisquam magnam libero! Quisquam placeat quam quis quaerat excepturi enim obcaecati nam labore at molestias. Excepturi ipsa, in perferendis, reprehenderit architecto maiores accusamus repudiandae non minima soluta eveniet illum ut repellat aperiam, molestias itaque dicta deserunt nisi provident rerum iste voluptatum vitae vel fuga.</p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Sign In
            </a>

            <a class="btn btn-primary" href="/signup/">
                Sign Up
            </a>
        </div>
    
    </section>
</main>
{% endblock %}